body{ background-color: #ebebeb; 
      font-family: Roboto; }

header{ background-color:#EAC926; }
h2 {color: #666;}


p { font-size: 12px; }
h2 { font-size: 24px; }

.descuento { color: #39b54a;
            font-size: 16px; }
.precio { font-size: 18px; }
h3 { font-size: 16px;}

i { color:#39b54a;}